@use '../var';

.item-detail{
    display: flex;
    &__figure{
        width: 400px;
        height: 400px;
        img{
            // width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:900px) {
    .item-detail{
        flex-direction: column;
        &__figure{
            width: 100%;
            height:fit-content;
            img{
                width:100%;
            }
        }
    }
}